*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
     
  }
  
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  
nav ul li {
    margin-right: 20px; 
  }
  
  
nav a {
    text-decoration: none;
    color: white;
  }


h3{
    font-size: 24px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: 10px;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}


header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;

}

header ul li a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    flex: 1;
    
}

ul {
    display: inline-flex;
    flex-direction: row;
    font-size: 2em;
}


div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

@media (min-width: 0px) and (max-width: 360px) {
    .interests div {
        flex-basis: 100%;
    }
}

@media (max-width: 767px) {
    nav ul {
        display: none; /* Oculta los elementos de la lista en modo celular */
    }

    .burger-menu {
        display: block; /* Muestra el burger menu en modo celular */
    }
}

@media (min-width: 0px) and (max-width:360px){

    div.top-header{
        flex-wrap: wrap;
    }
  nav{
    display: none;
  }
  header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}
  }

  @media (min-width: 361px) {
   
  
    header div.burger-menu {
      display: none;
    }
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

div.perfilU{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

div.interes{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

div.foto{
    margin-top: 25px;
}

form {
    width: 300px; 
    margin: auto;
}


input, select {
    display: flex;
    margin-bottom: 30px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box; 
    border-radius: 10px;
}

button.register{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #03264C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: blue;
}


footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding: 40px;
}

footer p {
    margin-bottom: 10px;
    
}

.fa-solid.fa-credit-card {
    color: #0044AA;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-solid.fa-gift {
    color: #0044AA;
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-solid.fa-user-shield {
    color: #0044AA;
    font-size: 2em;
    margin-bottom: 10px;
}
